html {
	background-color: #EDF2C5;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.btn{
	position: relative;
	left:730px;
	bottom: 72px;

}
.btn img{
	margin-right: 10px;
}
.btn li {

	list-style: none;
	float: left;
	margin-right: 10px;
	bottom: 45px;
}
.btn ul li{
	display: block;
	position: relative;
	left:40px;
	font-family: 'Arial BoldMT';
	font-size: 14px;
	color: #778A50;
	display: block;
	height: 25px;
	border: 1px solid#778A50;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-style: bold;
	
}
h1{
	margin-top: 53px;
	font-family: 'Arial Black';
	font-size: 44px;
	color: #778A50;
}

/*site nav*/
.site-nav {
	font-family: 'Arial Black';
	position: absolute;
	top: 120px;
	width: 940px;
	height: 44px;
	background-color: #778A50
}

.site-nav ul {
	margin: 0;
	padding: 0;
	
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
	font-size: 16px;
	
}

.site-nav a {
	display: block;
	color:#EDF2C5;
	text-decoration: none;
	padding: 10px 30px;
}
.banner{
	width: 940px;
	position: absolute;
	top: 184px;

}
.sidebar{
	position: absolute;
	top:645px;
}
h2{
	display:block;
	background-color: #778A50;
	font-family: 'Arial Black';
	font-size: 16px;
	color: #EDF2C5;
}
.left h2{
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.right h2{
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.img{
	float: left;
	width: 445px;
}
.img img{
	margin-right: 5px;
}
.right{
	width: 445px;
	float: right;
	background-color: #EDF2C5;
	box-sizing: border-box;
	position: relative;
	bottom: 223px;
	left: 495px;

}
.para{
	font-family: 'ArialMT Regular';
	font-size: 11.5px;
	color: #7D7D7D;
	background-color: #F7FBDA;
	width: 445px;
	height: 140px;
	text-align: left;

}
.p1{
	padding-top: 16px;
	padding-left: 15px;
	line-height: 1.33;
}
hr{
	color: #7D7D7D;
	height:1px;
	width: 414px;
	line-height: 1px;
	background-color: #7D7D7D;
	clear: both;
	border: none;
	margin: 15px;
}
.p2{
	padding-left: 15px;
	line-height: 1.83;
}
footer {
	font-family: 'ArialMT Regular';
	font-size: 12px;
	width: 1264px;
	height: 60px;
	position: relative;
	right: 168px;
	top: 690px;
	text-align: center;
	clear: both;
	color: #EDF2C5;
	padding-top: 14px;
	background-color: #778A50;
}

/*Float CLear*/
.clear:after {
	content:"";
	display: block;
	clear: both;
}